.stage{
width: 380px;
height: 100px;
margin: 380px auto;
-webkit-perspective: 800;
-ms-perspective: 800;
-o-perspective: 800;
-moz-perspective: 800px;
perspective: 800;
}
.cube {
-webkit-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
margin:0 auto;
height: 100px;
width: 100px;
position: relative;
-webkit-transition:all 1s;
-o-transition:all 1s;
transition:all 1s;
float: left;
}
.cube div {
text-align: center;
line-height: 100px;
height: 100px;
width: 100px;
position: absolute;
color: #fff;
}
.side_top {
background: rgb(0, 0, 0);
top: -50px;
left: 0px;
-webkit-transform: rotateX(90deg);
-ms-transform: rotateX(90deg);
-o-transform: rotateX(90deg);
transform: rotateX(90deg);
}
.side_bottom {
background: rgb(0, 0, 0);
bottom: -50px;
left: 0px;
-webkit-transform: rotateX(-90deg);
-ms-transform: rotateX(-90deg);
-o-transform: rotateX(-90deg);
transform: rotateX(-90deg);
}
.side_front {
background: rgb(0, 0, 0);
top: 0px;
left: 0px;
-webkit-transform: translateZ(50px);
-ms-transform: translateZ(50px);
-o-transform: translateZ(50px);
transform: translateZ(50px);
}
.side_back {
background: rgb(0, 0, 0);
top: 0px;
left: 0px;
-webkit-transform: translateZ(-50px);
-ms-transform: translateZ(-50px);
-o-transform: translateZ(-50px);
transform: translateZ(-50px);
}
.side_right {
background: rgb(0, 0, 0);
top: 0px;
right: -50px;
-webkit-transform: rotateY(90deg);
-ms-transform: rotateY(90deg);
-o-transform: rotateY(90deg);
transform: rotateY(90deg);
}
.side_left {
background: rgb(0, 0, 0);
top: 0px;
left: -50px;
-webkit-transform: rotateY(-90deg);
-ms-transform: rotateY(-90deg);
-o-transform: rotateY(-90deg);
transform: rotateY(-90deg);
}
.cube{
-webkit-animation: MOVE 2s ease 0s infinite;
-o-animation: MOVE 2s ease 0s infinite;
animation: MOVE 2s ease 0s infinite;
}
@-webkit-keyframes MOVE {
0% {-webkit-transform: rotateY(0);}
80% {-webkit-transform: rotateY(-360deg);}
100% {-webkit-transform: rotateY(-360deg);}
}
@-o-keyframes MOVE {
0% {-o-transform: rotateY(0);}
80% {-o-transform: rotateY(-360deg);}
100% {-o-transform: rotateY(-360deg);}
}
@-moz-keyframes MOVE {
0% {-moz-transform: rotateY(0);}
80% {-moz-transform: rotateY(-360deg);}
100% {-moz-transform: rotateY(-360deg);}
}
@keyframes MOVE {
0% {transform: rotateY(0);}
80% {transform: rotateY(-360deg);}
100% {transform: rotateY(-360deg);}
}